.venv
__pycache__
.vscode

utils.md
 

.DS_Store
.env
.flaskenv
*.pyc
*.pyo
dist/
build/
*.egg
*.egg-info/
_mailinglist
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
teste.py

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover